{% extends 'authuser/vendor_admin(header).html' %}

{% block title %}Edit product{% endblock %}

{% block content %}
<div class="container">

    <div class="add-product-form">

        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <h3>Edit Product</h3>
            
            <p>Category: </p>
            {{ form.category }}
            <p>Image: </p>
            {{ form.image }}
            <p>Title: </p>
            {{ form.title }}
            <p>Description: </p>
            {{ form.description }}
            <p>Author: </p>
            {{ form.author }}
            <p>Page: </p>
            {{ form.page }}
            <p>Publisher: </p>
            {{ form.publisher }}
            <p>Publisher date: </p>
            {{ form.publish_date }}
            <p>Price: </p>
            {{ form.price }}
            <p>Discount: </p>
            {{ form.discount }}

            <input type="submit" class="btn" value="Add product">
            <a href="{% url 'vendor_admin' %}" class="btn" style="background: red ;text-align: center;">Cancel</a>
        </form>

     </div>  


</div>
{% endblock %}