{% extends 'core/base.html' %}

{% block title %}Log in | {% endblock %}

{% block content %}
    <section class="login-register">
        <div class="login-form-container">

            <form action="." method="post">
                {% csrf_token %}
                <h3>Login in</h3>
                <span>Email</span>
                {{ form.email }}
                <span>Password</span>
                {{ form.password }}
                <input type="submit" value="Sign In" class="btn">
                <p>Don't have an account ? <a href="{% url 'register' %}">Click here</a></p>
            </form>
        </div>
    </section>
{% endblock %}
