{% extends 'core/base.html' %}

{% block title %}Register | {% endblock %}

{% block content %}
<section class="login-register">
    <div class="login-form-container">

        <form action="." method="post">
            {% csrf_token %}

            <h3>Register</h3>

            <span>Username</span>
            {{ form.name }}
            <span>Email</span>
            {{ form.email }}
            <span>Password</span>
            {{ form.password1 }}

            <div class="note">
                <h2 style="color: red;">*Note</h2>
                <p><i class="fas fa-circle-exclamation"></i> Your password can’t be too similar to your other personal information. </p>
                <p><i class="fas fa-circle-exclamation"></i> Your password must contain at least 8 characters.</p>
                <p><i class="fas fa-circle-exclamation"></i> Your password can’t be a commonly used password.</p>
                <p><i class="fas fa-circle-exclamation"></i> Your password can’t be entirely numeric.</p>
            </div>

            <span>Password Confirmation</span>
            {{ form.password2 }}
            <input type="submit" value="Register" class="btn">
            <p>Already have an account?  <a href="{% url 'login' %}">Click here</a></p>
        </form>
    </div>
</section>
{% endblock %}