{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ product.title }} | {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'css/product.css' %}">{% endblock %}

{% block content %}

    <!-- notification -->
    <div class="alert {% if messages %}showAlert{% endif %}">
        <span class="fas fa-circle-check"></span>
        {% for message in messages %}
            <span class="msg">{{ message }}</span>
        {% endfor %}
        <div class="close-btn" id="close-btn">
        <span class="fas fa-times"></span>
        </div>
    </div>
    <!-- ********** -->

    <!-- home section -->
    <section class="product">
        <div class="row">

            <div class="content">
                <h3>{{ product.title }}</h3>
                <h1>by {{ product.author }}</h1>
                <h2> {{ product.get_display_price }}00 VND</h2>

                <h1>DETAIL: </h1>
                <p>- page: {{ product.page }}</p>
                <p>- publisher: {{ product.publisher }}</p>
                <p>- publisher date: {{ product.publish_date }}</p>

                <form method="post" action=".">
                    {% csrf_token %}
                    <input type="number" name="quantity" value="1" class="input" min="1">
                    <br>
                    <button class="btn">Add to Cart  </button>
                </form>
            </div>

            <div class="swiper books-slider">
                    {% if product.image %}
                    <a href="#" class="swiper-slide"><img src="{{ product.image.url }}" alt=""></a>
                    {% endif %}
                <img src="{% static 'img/stand.png' %}" class="stand" alt="">
            </div>

        </div>

        <div class="description">
            <h3>description</h3>
            <p>{{ product.description }}</p>
        </div>
    </section>
    <!-- ********** -->

<div id="productapp">


    <h1 class="title"></h1>
    {% if product.get_rating > 0 %}
        <p>Rating: {{ product.get_rating }} /5</p>
    {% endif %}


    {% if similar_products %}
        <hr>

        <div class="columns is-multiline">
            <div class="column is-12">
                <h2 class="subtitle">Similar products</h2>
            </div>

            {% for product in similar_products %}
                {% include 'product/parts/list_item.html' %}
            {% endfor %}
        </div>
    {% endif %}
    <hr>
    
    <h1>Comment</h1>

    <div class="box">
        {% if request.user.is_authenticated %}
            <form method="post" action=".">
                {% csrf_token %}

                <div>
                    <label>rating</label>
                    <select name="ratinf">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3" selected>3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div>
                    <label>Comment</label>
                    <textarea name="content"> </textarea>
                </div>
                <div>
                    <button>Submit</button>
                </div>
            </form>
            <hr>
        {% endif %}
        {% for review in product.reviews.all %}
            <div>
                <strong>Rating: </strong>{{ review.rating }}<br>
                <strong>Content: </strong><br>{{ review.content }}<br>
                <hr>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}